# Railway & Backend Environment Variables
PORT=8000
SECRET_KEY=maklersiz_uz_super_secret_jwt_key_2026_safe_hash_token
DATABASE_URL=sqlite+aiosqlite:///./maklersiz.db

# Google OAuth & Firebase Credentials
GOOGLE_CLIENT_ID=63173300413-jfijmf1cng9dtlopjdpabb1e881go6pl.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_PROJECT_ID=maklersiz-uy
